.card {
  padding-top: 0rem;
  width: 100%;
  background-color: hsl(180, 52%, 96%);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  top: -2rem;
}

.eachCard {
  margin: 0 5rem;
  display: flex;
  flex-direction: row;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.5rem 0.5rem 0rem hsla(180, 8%, 52%, 0.17);
}
@media (max-width: 72rem) {
  .eachCard {
    margin: 0 2rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }
}

.span {
  position: absolute;
  width: 0.3rem;
  height: 100%;
  background-color: hsl(180, 29%, 50%);
  z-index: 20;
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
}

.cardTitle {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem 2rem;
}
@media (max-width: 72rem) {
  .cardTitle {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 1.5rem;
  }
}
hr {
  display: none;
}
@media (max-width: 72rem) {
  hr {
    display: inline-block;
    width: 95%;
    align-self: center;
    border: none;
    border-bottom: 1px hsl(180, 8%, 52%) solid;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
.info h1 {
  font-size: 1.3rem;
  color: black;
  font-weight: 700;
}
.headlines {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}
.headlines p {
  color: hsl(180, 29%, 50%);
  font-size: 1rem;
  font-weight: 700;
}
.headlines h2 {
  font-size: 0.6rem;
  text-transform: uppercase;
  padding: 0.2rem 0.5rem;
  border-radius: 10rem;
}

.new {
  background-color: hsl(180, 29%, 50%);
  color: white;
}

.featured {
  background-color: black;
  color: white;
}
.description {
  display: flex;
  justify-content: space-between;
  color: hsl(180, 8%, 52%);
  align-items: center;
  gap: 1.5rem;
}
@media (max-width: 72rem) {
  .description {
    gap: 0rem;
  }
}
.caption {
  display: flex;
  gap: 0.5rem;
  padding: 1rem 2rem;
}
@media (max-width: 72rem) {
  .caption {
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.caption button {
  color: hsl(180, 29%, 50%);
  padding: 0.4rem 0.8rem;
  font-weight: 700;
  background-color: hsl(180, 31%, 95%);
  border-radius: 0.5rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
.caption button:active,
button:hover {
  background-color: hsl(180, 29%, 50%);
  color: white;
  transition: all 0.5s;
}

.form {
  background-color: white;
  margin: 0 5rem;
  min-height: 3.5rem;
  border-radius: 0.5rem;
  z-index: 30;
  box-shadow: 0.1rem 0.5rem 0.5rem 0rem hsla(180, 8%, 52%, 0.17);
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.4rem 2rem;
  justify-content: space-between;
}
@media (max-width: 72rem) {
  .form {
    padding: 0.7rem 1rem;
    margin: 0 2rem;
  }
}

.form button {
  color: hsl(180, 29%, 50%);
  padding: 0.4rem 0.5rem;
  font-weight: 700;
  background-color: hsl(180, 31%, 95%);
  border-radius: 0.5rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.compbtn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.remove {
  background-color: hsl(180, 29%, 50%);
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove:active,
.remove:hover {
  background-color: black;
}

.clear {
  color: hsl(180, 29%, 50%);
  font-weight: 700;
  padding-right: 0.5rem;
  border-bottom: 0.2rem hsl(180, 29%, 50%) solid;
  cursor: pointer;
}

.clear:hover {
  color: hsla(180, 29%, 50%, 0.75);
}
